* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

.container {
    max-width: 1105px;
    margin: 0 auto;
}

.nav-li{
    display: inline-block;
}

.nav-li:not(:last-of-type){
    margin-right: 90px;
}

.nav-link{
    color: black;
    text-decoration: none;

}

.nav-link:hover{
color: #FA4A0C;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
margin: 40px auto;
}


.app {
    background-image: url('../img/bg-1.png');
    color: white;
    text-align: center;
    padding: 80px 0 162px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-pretitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.app-title {
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 650px;
    margin: 10px auto;
}

.app-text {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 54px;
}

.button {
    width: 236px;
    height: 68px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.button:first-of-type {
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 67px;
}

.button:last-of-type {
    background: none;
    border: 1px solid white;
}

.section {
    background-image: url(../img/bg-2.png);
    color: #FFFFFF;
    text-align: center;
    padding: 146.9px 0 131.1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
}

.section-pretitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 59px;
    margin-top: 20px;
}

.section-button1 {
    width: 142px;
    height: 64px;
    border-radius: 10px;
    background: #FA4A0C;
    color: white;
    border: 1px solid #FA4A0C;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-right: 16px;
}

.section-button2{
    background: none;
    border: 1px solid white;
    color: white;
    width: 173px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}

.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.mobile-pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;

}

.mobile-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 560px;
}

.mobile-text{
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 400px;
}

.title{
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 56px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
